* {
  box-sizing: border-box;
  padding: 5px;
}

html, body {
  font-family: "Lucida Grande";
  background-color: #EFEFEF;
}

.navbar-default {
  background-color: rgba(248, 248, 248, 0.96);
}

h1, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h5 {
  margin-top: 0px;
}


.loader {
  margin-left: 12%;
}

.list {
  padding-top: 50px;
}

.record {
  padding-bottom: 5px;
  /*width: 93%;*/
  height: 350px;
  margin-bottom: 25px;
}

.info {
  width: 50%;
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

.album {
  padding: 0;
  box-shadow: 6px 7px 20px #adadad;
  width: 300px;
  float: left;
}

input {
  padding: 5px;
  width: 80%;
}

.addForm {
  position: fixed;
  margin: 55px 30px;
  width: 400px;
}

.add {
  padding: 5px;
  width: 155px;
  margin: 2px 0px;
}

.editFormWrapper {
  margin-left: 60px;
  margin-top: -44px;
}

#editForm {
  /*height: 150px;
  width: 248px;*/
}

#editForm input {
  width: 100%;
}

#editForm .add {
  width: 130px;
}

@media screen and (max-width: 992px) {
  
  .navbar-default {
    background-color: rgba(68, 66, 66, 0.98);
  }

  .navbar-default .navbar-brand {
    color: #cacaca;
  }

  .navbar-form {
    border: none;
    box-shadow: none;
  }

  h1 {
    font-size: 25px;
  }

  h3 {
    font-size: 16px;
  }

  .info {
    width: 248px;
  }

  .addForm {
    padding-top: 65px;
    margin-bottom: 0;
    width: 90%;
    position: relative;
  }

  .list {
    padding-top: 0;
  }

  .record {
    margin: auto 30px;
  }

  .album {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 450px) {
  .record {
    height: initial;
  }
  .loader {
    margin-left: 35%;
  }
}
