* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EFEFEF;
  margin: 0;
}

h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  margin-top: 0;
  margin-bottom: 10px;
}

.loader {
  margin-left: 15%;
}

.main-content {
  padding-top: 64px;
}

.record {
  padding-bottom: 5px;
  min-height: 350px;
  margin: 30px 8%;
}

.info {
  width: 50%;
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

.album {
  padding: 0;
  margin: 0 0 20px 0;
  box-shadow: 6px 7px 20px #adadad;
  width: 300px;
  height: auto;
  float: left;
}

.addForm {
  position: fixed;
  margin: 55px 30px;
  width: 400px;
}

.add {
  padding: 5px;
  width: 155px;
  margin: 2px 0px;
}

#editForm {
  height: 150px;
  width: 248px;
}

#editForm input {
  width: 100%;
}

#editForm .add {
  width: 130px;
}

@media screen and (max-width: 992px) {

  h1 {
    font-size: 25px;
  }

  .info {
    width: 248px;
  }

  .addForm {
    padding-top: 65px;
    margin-bottom: 0;
    width: 90%;
    position: relative;
  }
}

@media screen and (max-width: 450px) {
  .loader {
    margin-left: 35%;
  }
}
