<div>
  <img class="album" width="300" height="300" ng-src="{{ vinyl.imgUrl }}"/>
  <div class="info">
    <h1>{{ vinyl.artist }}</h1>
    <h3>{{ vinyl.title }}</h3>
    <button class="btn btn-default edit" ng-click="toggleEdit()">Edit</button>
    <div id="editForm">
      <form name="submitForm" ng-show="isEditing" ng-controller="SubmitCtrl">
        <input required ng-model="record.artist" placeholder="{{vinyl.artist}}"/><br />
        <input required ng-model="record.title" placeholder="{{vinyl.title}}"/><br />
        <input required ng-model="record.imgUrl" placeholder="{{vinyl.imgUrl}}"/><br />
        <button class="btn btn-info add" ng-click="submitRecord(record)">Submit edits</button>
        <button class="btn btn-danger del" ng-click="remove(record)">Remove</button>
      </form>
    </div> 
  </div>
</div>


